

html, body {
  pointer-events: fill !important; 
    font-family: "Raleway", serif;
    font-weight: normal;
    scrollbar-width: none;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
  }
  
.pending {
  scrollbar-width: none;
}
.text-area{
  scrollbar-width: none;
}